.card-add-btn {
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    font-size: 1.4rem;
}

.card-btn-details {
    background: var(--orange-b);
    border: none;
    height: 3rem;
    border-radius: 1rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 0.2rem;
    border: 1px solid var(--orange-b);
    padding: 0.25rem 0.5rem;
    margin-right: 0.3rem;
    transition: all 0.5s;
}

.card-btn-details:hover {
    background: white;
    color: var(--orange-b);
    transition: all 0.5s;
}

.card-add-btn:hover .add-icon {
    /* حرکت به جلو */
    transform: translateX(6px);
    /* اجرای انیمیشن */
    animation: shake 1s ease;
}

@keyframes shake {
    0% {
        transform: translateX(6px) rotate(0deg);
    }

    25% {
        transform: translateX(8px) rotate(10deg);
    }

    50% {
        transform: translateX(6px) rotate(0deg);
    }

    75% {
        transform: translateX(8px) rotate(-10deg);
    }

    100% {
        transform: translateX(6px) rotate(0deg);
    }
}

.card-btn-box {
    border: 1px solid var(--orange-c);
    border-radius: 1rem;
    padding-right: 0.5rem;
    background: var(--orange-c);
}


.off-box {
    background: var(--orange-b);
    border-radius: 5px;
    font-weight: bold;
    width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    color: #fff;
}