.shop-box {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    grid-row-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.filtered button {
    border: none;
    border-radius: 6px;
}

.activeModeFiltered {
    background-color: red;
    color: white;
}

.btn-categories-style {
    text-decoration: none;
    margin: 0 0.5rem;
}

/* لپ‌تاپ و تبلت بزرگ */
@media (max-width: 1200px) {
    .shop-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* تبلت */
@media (max-width: 768px) {
    .shop-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* موبایل */
@media (max-width: 576px) {
    .shop-box {
        grid-template-columns: 1fr;
        /* یک ستون */
    }
}