.offer-box {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.offer-head-text {
    color: var(--orange-b);
    width: 12rem;
    margin: 0;
    text-align: center;
}