@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
    --orange-a: #DD0303;
    --orange-b: #FA812F;
    --orange-c: #FAB12F;
    --orange-d: #FEF3E2;
    --orange-wh: #fff;
    --orange-bg-light: rgb(255, 246, 239);
    --orange-bg-light2: rgb(255, 240, 228);
    --gray: #e6e6e6;
}

body {
    font-family: "Comfortaa";
}

.bg-light{
    background: var(--orange-bg-light) !important;
}